/* Dropdown.css */
.dropdown-container {
  position: relative;
  display: flex;
  margin-left: auto; /* Cambia margin-right a margin-left */
  gap: 5px;
  margin-right: 13px;
  align-items: baseline;
}
@media (max-width: 700px) {
  .dropdown-container p{
    display: none;
  }
}
.user-icon img {
  cursor: pointer;
  color: var(--color-primary);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  gap: 10px;

}

  .menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 1rem;
    background-color: var(--color-secundary);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.9rem;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .menu.visible {
    opacity: 1;
    z-index: 1000;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin: 0.5rem 1rem;
    cursor: pointer;
    transition: border-bottom 0.9s ease, transform 0.1s ease;
  }
  
  .menu li:hover {
    color: #000000;
    border-bottom: 1px solid;
    transform: scale(1.03);
  }
.imagen-drop{
  width: 34px;
  height: 34px;
}

.drop{
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.drop li a{
  text-decoration: none;
  color: #000000;
}

  
  :root {
    --color-primary: #008DD8;
    --color-secundary: #ffff;
   }