/* Estilos originales para dispositivos grandes */
.sidebar {
  padding: 20px;
}

.quote-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.img-doctor-quote {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.col-quote {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-quote {
  font-weight: bold;
}

.botones {
  display: flex;
  align-items: center;
}

.botones img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  cursor: pointer;
}

.status-color {
  font-weight: bold;
}

.status-color.in-review {
  color: orange;
}

.status-color.approved {
  color: green;
}

.status-color.error {
  color: red;
}
.status-color.postponed {
  color: aqua;
}

#chatbot{
  position: fixed;
  bottom: 10%;
  transition: all 300ms ease 0ms;
  z-index: 999;
}

.btn-flotante {
  width: 60px;
  height: 60px;
  font-size: 16px; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  background-color: "#fff"; 
  position: fixed;
  bottom: 40px;
  right: 10px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 99;
}
.btn-flotante:hover {

  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}
.fa-robot{
  color:var(--color-primary);
  font-size: 35px;
  margin: 0;
}

/* Estilos para dispositivos móviles (Media Query) */
  .quote-card {
    display: flex;
    flex-wrap: wrap; /* Cambiar a disposición de fila en dispositivos móviles */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
  }

  .img-doctor-quote {
    width: 70px; /* Ajusta el ancho de la imagen como desees */
    height: 70px; /* Ajusta la altura de la imagen como desees */
    margin-right: 10px; /* Reduce el margen derecho de la imagen */
  }

  .col-quote {
    flex: 1;
  }

  .title-quote {
    display: block; /* Mostrar el título en dispositivos móviles */
    font-weight: bold;
  }

  .botones {
    display: flex;
    align-items: center;
    flex-direction: row; /* Mantener la disposición de fila en dispositivos móviles */
    margin-top: 10px;
  }


  @media only screen and (min-width: 300px) {

    .btn-flotante {
      /* font-size: 14px;
      padding: 12px 20px; */
      bottom: 10%;
      right: 3%;
    }
  }
  @media only screen and (max-width: 460px) {

    #chatbot{
      right: 70px;
    }
  
    .btn-flotante{
      height: 40px;
      width: 40px;
    }
    .fa-robot{
      font-size: 20px;
    }
  }  

  @media (max-width: 1080px) {

    .btn-flotante{
      height: 50px;
      width: 50px;
    }
  
    #chatbot{
      right: 80px;
    }
    .fa-robot{
      font-size: 25px;
    }

  }

  @media only screen and (min-width:1080px) {

    #chatbot{
      right: 10%;
    }
    .fa-robot{
      font-size: 30px;
    }
  }
