.back-button {
    margin-top: -2px;
    margin-left: 5px;
  }
  
  .expediente-container {
    margin-top: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .submit-button {
    margin-top: 20px;
  }