  /* Estilos para el componente Profile */


  /* Contenedor del perfil */
  .container_profile {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* Esto asegura que el contenedor tenga al menos el 100% del alto de la ventana */
    padding: 0 15px; /* Agfrega un espacio lateral opcional */
    background-color: #ffff;
  }

  /* Tarjeta del perfil */
  .card-profile {
    background-color: var(--color-secundary);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .gradient-custom {
    background: rgb(137,202,237);
    background: linear-gradient(0deg, rgba(137,202,237,1) 0%, rgba(0,141,216,1) 100%);
    border-radius: 20px;
  }  

  /* Imagen del perfil */
  .img-fluid {
    width: 80px;
  }

  /* Nombre y profesión */

  p {
    font-size: 1rem;
    color: #555;
  }

  /* Sección de información */
  h6 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  /* Línea divisoria */
  hr {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  /* Detalles de información */
  .text-muted {
    font-size: 1rem;
  }

  :root {
    --color-primary: #008DD8;
    --color-secundary: #ffff;
  }
