.container-oficial {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    align-items: center;
    text-align: center; /* Centra horizontalmente el contenido del contenedor */
}

.logo-admin {
    max-width: 200px;
    margin: 0 auto; /* Centra el logo horizontalmente */
    margin-bottom: 10px;
}

/* Estilos para la tabla de datos */
.table {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

/* Estilos para los botones de acciones en la tabla */
.table .btn {
    padding: 4px 8px;
    margin: 2px;
    font-size: 1rem;
}

/* Estilos para la tabla de datos */
.display-4 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.icon {
    color: #ffff;
}

.busqueda {
    margin-top: 10px;
}

.custom-select {
    padding: 5px; /* Añade relleno alrededor del select */
    border: 1px solid #ccc; /* Agrega un borde alrededor del select */
    border-radius: 5px; /* Agrega bordes redondeados al select */
    background-color: #fff; /* Color de fondo blanco */
    color: #333; /* Color de texto */
    width: 100%; /* Opcional: Ajusta el ancho según tus preferencias */
  }
  
  /* Estilo para las opciones del select */
  .custom-select option {
    background-color: #fff; /* Color de fondo blanco para las opciones */
    color: #333; /* Color de texto */
  }

  .custom-modal-admin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secundary);
    border: 2px solid var(--color-primary);
    padding: 20px;
    text-align: center;
    width: 90%;
    border-radius: 8px;
}

.custom-close-icon {
    background-color: blue; /* Fondo azul */
    border-radius: 50%; /* Bordes redondeados para hacerlo circular */
    color: white; /* Color del icono en blanco */
    font-size: 20px; /* Tamaño de fuente personalizado */
    padding: 8px; /* Espacio alrededor del icono */
  }

  .admin-close-icon {
    color: var(--color-primary);
    width: 50px;
    height: auto;
  }